/* @keyframes name {
    0% { background: red; }
    30% { background: orange; }
    60% { background: pink; }
    100% { background: red; }
  }


body {
    animation: name 5s infinite;
  } */

input#button2 {   display: inline-block;
    padding: 0.3em 3em;
    background-color: #e3364a; /* 背景色 */
    box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */   
}

input#button2:active {
    box-shadow: none;
    transform: translateY(3px);
  }

div.box{
    width:200px; height: 200px;
background-color:white; margin:auto;
    }
    
    div.box1{ display: flex;
    }
    div#box1-1{background-color:lightblue; 
        width:100px; height:100px;border-color: black;border:solid;
       
    }



    div#box1-2{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box1-street{width:100px; height:100px;      
    }
    div#box1-3{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box1-4{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div.box2{ display: flex;margin: auto;
    }
    div#box2-1{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box2-2{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box2-street{width:100px; height:100px;      
    }
    div#box2-3{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box2-4{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div.box3{ display: flex;margin: auto;
    }
    div#box3-1{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box3-2{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box3-street{width:100px; height:100px;      
    }
    div#box3-3{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box3-4{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div.box4{ display: flex;margin: auto;
    }
    div#box4-1{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box4-2{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box4-street{width:100px; height:100px;      
    }
    div#box4-3{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
    div#box4-4{background-color:lightblue;
        width:100px; height:100px;border-color: black;border:solid;        
    }
